{% extends "base.html" %}
{% block title %}Find A Server - Reset Password{% endblock %}
{% block body %}
<h1>Reset Password</h1>
{% if form.errors %}
<ul class="bg-danger" style="padding:15px;">
    {{form.errors}}
</ul>
{% endif %}
{% if user.is_authenticated %}
<p class="bg-info" style="padding: 15px">
    You are already logged in. Please use the <a href="{ % url 'password_change' %}">Change Password</a> form.
</p>
{% else %}
<p>To reset your password, enter the email address you registered with. A one-time password reset link will
be emailed to the address.</p>
<form class="form-horizontal" role="form" method="post" action="{% url 'password_reset' %}">
{% include "form_template.html" %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Send reset email</button>
        </div>
    </div>
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endif %}
{% endblock %}